/// Import Global Colors
@import './global_colors';
@import './var_tints';

// Overriding some global values for this brand for some reason?
$global-black:                  #242020;
$global-black-tint--1:          #6f6b6b;
$global-black-tint--2:          #b7b5b3;
$global-black-tint--3:          #e1ddda;

// Color Palette
$bl-primary:                      #284e6e;
$bl-secondary:                    #284e6e;
$bl-tertiary:                     #f5c258;
$bl-sale:                         #a32937;
$bl-background:                   #f8f6f3;
$bl-backgroundTint:               #fbfaf9;
$bl-backgroundShade:              #f3efea;
$bl-primaryTint1:                 #728fa8;
$bl-primaryTint2:                 #c0d1e0;
$bl-primaryTint3:                 #ecf1f5;

$bl-veil:                         rgba(34, 25, 36, .5); // rgba($global-black, .5);

////
/// Functional Variables - USE THESE
////

/// Tints
$black-tint--1:                   $global-black-tint--1;
$black-tint--2:                   $global-black-tint--2;
$black-tint--3:                   $global-black-tint--3;
$primary-tint--1:                 $bl-primaryTint1;
$primary-tint--2:                 $bl-primaryTint2;
$primary-tint--3:                 $bl-primaryTint3;

/// Text Colors
$text-color--base:                $global-black;
$text-color--light:               $black-tint--1;
$text-color--extralight:          $black-tint--3;
$text-color--primary:             $bl-primary;
$text-color--primary--hover:      null;
$text-color--secondary:           $bl-secondary;
$text-color--tertiary:            $bl-primary;

$text-color--success:             $bl-primary;
$text-color--error:               $global-error;
$text-color--sale:                $bl-sale;
$text-color--alert:               null;
$text-color--accent:              $bl-tertiary;
$text-color--shipping:            $bl-primary;
$text-color--disabled:            $black-tint--2;

$text-color--white:               $global-white;
$text-color--black:               $global-black;

/// Background Colors
$bg-color--global-body:           $bl-background;
$bg-color--global-body--tint:     $bl-backgroundTint;
$bg-color--global-body--shade:    $bl-backgroundShade;
$bg-color--primary:               $bl-primary;
$bg-color--primary--hover:        $bl-primary;
$bg-color--secondary:             $bl-secondary;
$bg-color--secondary--hover:      null;
$bg-color--tertiary:              $global-black;
$bg-color--quaternary:            $bl-background;

$bg-color--cool:                  $black-tint--3;
$bg-color--warm:                  $bl-backgroundTint;
$bg-color--white:                 $global-white;
$bg-color--lighter-grey:          $bl-backgroundTint;
$bg-color--light-grey:            $black-tint--3;
$bg-color--light-medium-grey:     $black-tint--2;
$bg-color--medium-grey:           $black-tint--1;
$bg-color--dark-grey:             $global-black;
$bg-color--black:                 $global-black;

$bg-color--success:               $bl-primary;
$bg-color--error:                 $global-error;
$bg-color--sale:                  $bl-sale;
$bg-color--alert:                 null;
$bg-color--accent:                $bl-tertiary;
$bg-color--shipping:              null;

/// Border Colors
$border-color--global-body:       $bl-background;
$border-color--global-body--tint: $bl-backgroundTint;
$border-color--base:              $black-tint--3;
$border-color--primary:           $bl-primary;
$border-color--secondary:         $bl-secondary;
$border-color--tertiary:          $bl-primary;
$border-color--quaternary:        null;
$border-color--black:             $global-black;

$border-color--cool:              $black-tint--3;
$border-color--warm:              $bl-backgroundTint;
$border-color--white:             $global-white;
$border-color--lighter-grey:      $bl-backgroundTint;
$border-color--light-medium-grey: $black-tint--2;
$border-color--medium-grey:       $black-tint--1;
$border-color--dark-medium-grey:  $black-tint--2;

$border-color--success:           $bl-primary;
$border-color--error:             $global-error;
$border-color--alert:             null;
$border-color--accent:            $bl-tertiary;
$border-color--sale:              $bl-sale;

/// Box Shadow
$boxShadow-color:                 $black-tint--1;

$bg-color-shape--primary:         $bl-primary;

/// Buttons
$bg-color-button--primary:        $bl-primary;
$bg-color-button--primary--hover: $bl-secondary;

$bg-color-button--secondary:      $bl-primary;
$bg-color-button--secondary--hover: $bl-secondary;

// Veils
$veil-color--base:                $bl-veil;

:export {
  /// Tints
  black-tint--1:                   '$global-black--1'_$global-black-tint--1;
  black-tint--2:                   '$global-black--2'_$global-black-tint--2;
  black-tint--3:                   '$global-black--3'_$global-black-tint--3;
  primary-tint--1:                 '$bl-primaryTint1'_$bl-primaryTint1;
  primary-tint--2:                 '$bl-primaryTint2'_$bl-primaryTint2;
  primary-tint--3:                 '$bl-primaryTint3'_$bl-primaryTint3;

  /// Text Colors
  text-color--base:                '$global-black'_$global-black;
  text-color--light:               '$black-tint--1'_$black-tint--1;
  text-color--extralight:          '$black-tint--3'_$black-tint--3;
  text-color--primary:             '$bl-primary'_$bl-primary;
  text-color--primary--hover:      'null'_null;
  text-color--secondary:           '$bl-secondary'_$bl-secondary;
  text-color--tertiary:            '$bl-primary'_$bl-primary;

  text-color--success:             '$bl-primary'_$bl-primary;
  text-color--error:               '$global-error'_$global-error;
  text-color--sale:                '$bl-sale'_$bl-sale;
  text-color--alert:               'null'_null;
  text-color--accent:              '$bl-tertiary'_$bl-tertiary;
  text-color--shipping:            '$bl-primary'_$bl-primary;
  text-color--disabled:            '$black-tint--2'_$black-tint--2;

  text-color--white:               '$global-white'_$global-white;
  text-color--black:               '$global-black'_$global-black;

  /// Background Colors
  bg-color--global-body:           '$bl-background'_$bl-background;
  bg-color--global-body--tint:     '$bl-background'_$bl-backgroundTint;
  bg-color--global-body--shade:    '$bl-background'_$bl-backgroundShade;
  bg-color--primary:               '$bl-primary'_$bl-primary;
  bg-color--primary--hover:        '$bl-primary'_$bl-primary;
  bg-color--secondary:             '$bl-secondary'_$bl-secondary;
  bg-color--secondary--hover:      'null'_null;
  bg-color--tertiary:              '$global-black'_$global-black;
  bg-color--quaternary:            '$bl-background'_$bl-background;

  bg-color--cool:                  '$black-tint--3'_$black-tint--3;
  bg-color--warm:                  '$bl-background'_$bl-backgroundTint;
  bg-color--white:                 '$global-white'_$global-white;
  bg-color--lighter-grey:          '$bl-background'_$bl-backgroundTint;
  bg-color--light-grey:            '$black-tint--3'_$black-tint--3;
  bg-color--light-medium-grey:     '$black-tint--2'_$black-tint--2;
  bg-color--medium-grey:           '$black-tint--1'_$black-tint--1;
  bg-color--dark-grey:             '$global-black'_$global-black;
  bg-color--black:                 '$global-black'_$global-black;

  bg-color--success:               '$bl-primary'_$bl-primary;
  bg-color--error:                 '$global-error'_$global-error;
  bg-color--sale:                  '$bl-sale'_$bl-sale;
  bg-color--alert:                 'null'_null;
  bg-color--accent:                '$bl-tertiary'_$bl-tertiary;
  bg-color--shipping:              'null'_null;

  /// Border Colors
  border-color--global-body:       '$bl-background'_$bl-background;
  border-color--global-body--tint: '$bl-backgroundTint'_$bl-backgroundTint;
  border-color--base:              '$black-tint--3'_$black-tint--3;
  border-color--primary:           '$bl-primary'_$bl-primary;
  border-color--secondary:         '$bl-secondary'_$bl-secondary;
  border-color--tertiary:          '$bl-primary'_$bl-primary;
  border-color--quaternary:        'null'_null;
  border-color--black:             '$global-black'_$global-black;

  border-color--cool:              '$black-tint--3'_$black-tint--3;
  border-color--warm:              '$bl-backgroundTint'_$bl-backgroundTint;
  border-color--white:             '$global-white'_$global-white;
  border-color--lighter-grey:      '$bl-backgroundTint'_$bl-backgroundTint;
  border-color--light-medium-grey: '$black-tint--2'_$black-tint--2;
  border-color--medium-grey:       '$black-tint--1'_$black-tint--1;
  border-color--dark-medium-grey:  '$black-tint--2'_$black-tint--2;

  border-color--success:           '$bl-primary'_$bl-primary;
  border-color--error:             '$global-error'_$global-error;
  border-color--alert:             'null'_null;
  border-color--accent:            '$bl-tertiary'_$bl-tertiary;
  border-color--sale:              '$bl-sale'_$bl-sale;

  /// Box Shadow
  boxShadow-color:                 '$black-tint--1'_$black-tint--1;

  bg-color-shape--primary:         '$bl-primary'_$bl-primary;

  /// Buttons
  bg-color-button--primary:        '$bl-primary'_$bl-primary;
  bg-color-button--primary--hover: '$bl-secondary'_$bl-secondary;

  bg-color-button--secondary:      '$bl-primary'_$bl-primary;
  bg-color-button--secondary--hover: '$bl-secondary'_$bl-secondary;

  // Veils
  veil-color--base:                '$bl-veil'_$bl-veil;
}
