// Global Colors
$global-black:                  #221924;
$global-black-tint--1:          #6f6f6f;
$global-black-tint--2:          #adadac;
$global-black-tint--3:          #dedede;
$global-error:                  #ed021e;
$global-white:                  #fff;

/// Social Media Colors
$SocialMedia-color--facebook:   #3b5998;
$SocialMedia-color--googlePlus: #dd4b39;
$SocialMedia-color--twitter:    #55acee;
$SocialMedia-color--pinterest:  #bd081c;
$SocialMedia-color--instagram:  #3e6487;
