// Import Global Colors
@import './global_colors';
@import './var_tints';

// Color Palette
$pg-primary:                      #221924;
$pg-secondary:                    #6f5c57;
$pg-tertiary:                     #221924;
$pg-sale:                         #221924;
$pg-shipping:                     #221924;
$pg-background:                   #f6f6f8;
$pg-backgroundTint:               #fafafb;
$pg-backgroundShade:              #efeff3;
$pg-primaryTint1:                 #7f7f7f;
$pg-primaryTint2:                 #bfbfbf;
$pg-primaryTint3:                 #ebebeb;

$pg-veil:                         rgba(34, 25, 36, .5); // rgba($global-black, .5);
$pg-boxShadow:                    rgba(34, 25, 36, .3); // rgba($global-black, .3);

$pg-brownHover:                   #393739;
$pg-brownAccentHover:             #5f4c47;
$pg-orangeCrush:                  #faba53;
$pg-orangeSlice:                  #f08000;

////
/// Functional Variables - USE THESE
////

/// Tints
$black-tint--1:                   $global-black-tint--1;
$black-tint--2:                   $global-black-tint--2;
$black-tint--3:                   $global-black-tint--3;
$primary-tint--1:                 $pg-primaryTint1;
$primary-tint--2:                 $pg-primaryTint2;
$primary-tint--3:                 $pg-primaryTint3;

// Text Colors
$text-color--base:                $pg-primary;
$text-color--light:               $global-black-tint--1;
$text-color--extralight:          $global-black-tint--3;
$text-color--primary:             $pg-primary;
$text-color--primary--hover:      $pg-brownHover;
$text-color--secondary:           $pg-secondary;
$text-color--tertiary:            $pg-brownAccentHover;

$text-color--success:             null;
$text-color--error:               $global-error;
$text-color--sale:                $pg-sale;
$text-color--alert:               $pg-orangeSlice;
$text-color--accent:              $pg-orangeCrush;
$text-color--shipping:            $pg-shipping;
$text-color--disabled:            $global-black-tint--3;

$text-color--white:               $global-white;
$text-color--black:               $global-black;

// Background Colors
$bg-color--global-body:           $pg-background;
$bg-color--global-body--tint:     $pg-backgroundTint;
$bg-color--global-body--shade:    $pg-backgroundShade;
$bg-color--primary:               $pg-primary;
$bg-color--primary--hover:        $pg-brownHover;
$bg-color--secondary:             $pg-secondary;
$bg-color--secondary--hover:      $pg-brownAccentHover;
$bg-color--tertiary:              $global-black-tint--3;
$bg-color--quaternary:            null;

$bg-color--cool:                  $pg-backgroundTint;
$bg-color--warm:                  null;
$bg-color--white:                 $global-white;
$bg-color--lighter-grey:          $pg-background;
$bg-color--light-grey:            $global-black-tint--3;
$bg-color--light-medium-grey:     $global-black-tint--3;
$bg-color--medium-grey:           $global-black-tint--1;
$bg-color--dark-grey:             $pg-primary;
$bg-color--black:                 $global-black;

$bg-color--success:               $pg-primary;
$bg-color--error:                 $global-error;
$bg-color--sale:                  $pg-sale;
$bg-color--alert:                 $pg-orangeSlice;
$bg-color--accent:                $pg-orangeCrush;
$bg-color--shipping:              null;

// Border Colors
$border-color--global-body:       $pg-background;
$border-color--global-body--tint: $pg-backgroundTint;
$border-color--base:              $global-black-tint--3;
$border-color--primary:           $pg-primary;
$border-color--secondary:         $pg-background;
$border-color--tertiary:          $pg-tertiary;
$border-color--quaternary:        $pg-brownHover;
$border-color--black:             $global-black;

$border-color--cool:              $pg-backgroundTint;
$border-color--warm:              $global-white;
$border-color--white:             $global-white;
$border-color--lighter-grey:      $pg-background;
$border-color--light-medium-grey: $global-black-tint--3;
$border-color--medium-grey:       $global-black-tint--1;
$border-color--dark-medium-grey:  $global-black-tint--2;

$border-color--success:           $pg-primary;
$border-color--error:             $global-error;
$border-color--sale:              $pg-sale;
$border-color--alert:             $pg-orangeSlice;
$border-color--accent:            $pg-orangeCrush;

// Box Shadow
$boxShadow-color:                 $pg-boxShadow;

$bg-color-shape--primary:         $pg-primary;

// Buttons
$bg-color-button--primary:        $pg-primary;
$bg-color-button--primary--hover: $pg-brownHover;

$bg-color-button--secondary:        $pg-secondary;
$bg-color-button--secondary--hover: $pg-brownAccentHover;

// Veils
$veil-color--base:                $pg-veil;

:export {
  /// Tints
  black-tint--1:                   '$global-black-tint--1'_$global-black-tint--1;
  black-tint--2:                   '$global-black-tint--2'_$global-black-tint--2;
  black-tint--3:                   '$global-black-tint--3'_$global-black-tint--3;
  primary-tint--1:                 '$pg-primaryTint1'_$pg-primaryTint1;
  primary-tint--2:                 '$pg-primaryTint2'_$pg-primaryTint2;
  primary-tint--3:                 '$pg-primaryTint3'_$pg-primaryTint3;

  // Text Colors
  text-color--base:                '$pg-primary'_$pg-primary;
  text-color--light:               '$global-black-tint--1'_$global-black-tint--1;
  text-color--extralight:          '$global-black-tint--3'_$global-black-tint--3;
  text-color--primary:             '$pg-primary'_$pg-primary;
  text-color--primary--hover:      '$pg-brownHover'_$pg-brownHover;
  text-color--secondary:           '$pg-secondary'_$pg-secondary;
  text-color--tertiary:            '$pg-brownAccentHover'_$pg-brownAccentHover;

  text-color--success:             'null'_null;
  text-color--error:               '$global-error'_$global-error;
  text-color--sale:                '$pg-sale'_$pg-sale;
  text-color--alert:               '$pg-orangeSlice'_$pg-orangeSlice;
  text-color--accent:              '$pg-orangeCrush'_$pg-orangeCrush;
  text-color--shipping:            '$pg-shipping'_$pg-shipping;
  text-color--disabled:            '$global-black-tint--3'_$global-black-tint--3;

  text-color--white:               '$global-white'_$global-white;
  text-color--black:               '$global-black'_$global-black;

  // Background Colors
  bg-color--global-body:           '$pg-background'_$pg-background;
  bg-color--global-body--tint:     '$pg-backgroundTint'_$pg-backgroundTint;
  bg-color--global-body--shade:    '$pg-backgroundShade'_$pg-backgroundShade;
  bg-color--primary:               '$pg-primary'_$pg-primary;
  bg-color--primary--hover:        '$pg-brownHover'_$pg-brownHover;
  bg-color--secondary:             '$pg-secondary'_$pg-secondary;
  bg-color--secondary--hover:      '$pg-brownAccentHover'_$pg-brownAccentHover;
  bg-color--tertiary:              '$global-black-tint--3'_$global-black-tint--3;
  bg-color--quaternary:            'null'_null;

  bg-color--cool:                  '$pg-backgroundTint'_$pg-backgroundTint;
  bg-color--warm:                  'null'_null;
  bg-color--white:                 '$global-white'_$global-white;
  bg-color--lighter-grey:          '$pg-background'_$pg-background;
  bg-color--light-grey:            '$global-black-tint--3'_$global-black-tint--3;
  bg-color--light-medium-grey:     '$global-black-tint--3'_$global-black-tint--3;
  bg-color--medium-grey:           '$global-black-tint--1'_$global-black-tint--1;
  bg-color--dark-grey:             '$pg-primary'_$pg-primary;
  bg-color--black:                 '$global-black'_$global-black;

  bg-color--success:               '$pg-primary'_$pg-primary;
  bg-color--error:                 '$global-error'_$global-error;
  bg-color--sale:                  '$pg-sale'_$pg-sale;
  bg-color--alert:                 '$pg-orangeSlice'_$pg-orangeSlice;
  bg-color--accent:                '$pg-orangeCrush'_$pg-orangeCrush;
  bg-color--shipping:              'null'_null;

  // Border Colors
  border-color--global-body:       '$pg-background'_$pg-background;
  border-color--global-body--tint: '$pg-backgroundTint'_$pg-backgroundTint;
  border-color--base:              '$global-black-tint--3'_$global-black-tint--3;
  border-color--primary:           '$pg-primary'_$pg-primary;
  border-color--secondary:         '$pg-background'_$pg-background;
  border-color--tertiary:          '$pg-tertiary'_$pg-tertiary;
  border-color--quaternary:        '$pg-brownHover'_$pg-brownHover;
  border-color--black:             '$global-black'_$global-black;

  border-color--cool:              '$pg-backgroundTint'_$pg-backgroundTint;
  border-color--warm:              '$global-white'_$global-white;
  border-color--white:             '$global-white'_$global-white;
  border-color--lighter-grey:      '$pg-background'_$pg-background;
  border-color--light-medium-grey: '$global-black-tint--3'_$global-black-tint--3;
  border-color--medium-grey:       '$global-black-tint--1'_$global-black-tint--1;
  border-color--dark-medium-grey:  '$global-black-tint--2'_$global-black-tint--2;

  border-color--success:           '$pg-primary'_$pg-primary;
  border-color--error:             '$global-error'_$global-error;
  border-color--sale:              '$pg-sale'_$pg-sale;
  border-color--alert:             '$pg-orangeSlice'_$pg-orangeSlice;
  border-color--accent:            '$pg-orangeCrush'_$pg-orangeCrush;

  // Box Shadow
  boxShadow-color:                 '$pg-boxShadow'_$pg-boxShadow;

  bg-color-shape--primary:         '$pg-primary'_$pg-primary;

  // Buttons
  bg-color-button--primary:        '$pg-primary'_$pg-primary;
  bg-color-button--primary--hover: '$pg-brownHover'_$pg-brownHover;

  bg-color-button--secondary:        '$pg-secondary'_$pg-secondary;
  bg-color-button--secondary--hover: '$pg-brownAccentHover'_$pg-brownAccentHover;

  // Veils
  veil-color--base:                '$pg-veil'_$pg-veil;
}
